# Homework 5

1. The **body mass index** (BMI) is defined as the body mass (kg) divided by the square of the body height (m2). It is used to broadly categorize a major adult person as underweight (under 18.5 kg/m2), normal weight (18.5 to 24.9), overweight (25 to 29.9), or obese (30 or more), or obese. Write a function that takes the heigh and weight of a person, in the adequate units, and returns the categorization underweight/normal weight/overweight/obese.

In [1]:
def categorize(h, w):
    bmi = w/(h**2)
    print(str(round(bmi,2)))
    if bmi >= 30.0:
        return 'obese'
    elif bmi >= 25.0:
        return 'overweight'
    elif bmi >= 18.5:
        return 'normal weight'
    else:
        return 'underweight'

In [2]:
categorize(1.7, 50)

17.3

'underweight'

In [3]:
categorize(1.7, 70)

24.22

'normal weight'

In [4]:
categorize(1.7, 80)

27.68

'overweight'

In [5]:
categorize(1.7, 90)

31.14

'obese'

2. In databases, names are usually split in two or more columns. In US, we usually find three columns, such as `firstname`, `midname` and `lastname`. When the name has to be printed, the three pieces are pasted together. Write a function for this job. If the arguments supplied are `firstname='Donald'`, `midname='John'` and `lastname='Trump'`, the function would return `'Donald John Trump'`. But it should work also for the cases in which the middle name is omitted, which is not rare, in particular for foreign people.

In [6]:
def joint_name(firstname, lastname, midname=None):
    if midname is not None:
        return firstname + ' ' + midname + ' ' + lastname
    else:        
        return firstname + ' ' + lastname

In [7]:
joint_name('first', 'last', 'mid')

'first mid last'

In [8]:
joint_name('first', 'last')

'first last'

3. Write a function that, given a list of integers, returns the number of positive terms and the number of negative terms. Modify the definition so the your function returns a dictionary with keys '`positive` and `negative`. So, given the list `[2, 3, -7, 0]`, your function must return `{'positive': 2, 'negative': 1}`

In [9]:
def list_count(l):
    positive = sum([1 for number in l if number > 0])
    negative = sum([1 for number in l if number < 0])
    return {'positive': positive, 'negative': negative}

In [10]:
list_count([2, 3, -7, 0])

{'positive': 2, 'negative': 1}

In [11]:
def list_count(l):
    positive = 0
    negative = 0
    for number in l:
        if number > 0:
            positive = positive + 1
        elif number < 0:
            negative = negative + 1
    return {'positive': positive, 'negative': negative}

In [12]:
list_count([2, 3, -7, 0])

{'positive': 2, 'negative': 1}

4. Suppose that you are given an interest rate *r*% for your capital, so that at the end of every year your capital gets a *r*% increase. For instance if the capital is USD 1 and the interest rate is 10\% (\`r=0.1\`), after one year you have USD 1.10, after two years USD 1.21, etc. Write a function that, by using a loop, takes *r* and returns the number of years needed to double it. The solution does not depend on the actual value of the capital, so you set it at USD 1 (this can also be solved mathematically, by using logarithms).

In [13]:
def doublecapital(r):
    capital = 1.0
    years = 0
    while(capital < 2.0):
        capital = capital * (1+r)
        years = years + 1
    return years

In [14]:
doublecapital(0.1)

8

5. The **Fibonacci numbers** are 1, 1, 2, 3, 5, 8, 13, 21, etc. Except for the first two terms of this sequence, both equal to 1, every term is the sum of the two preceding terms. Use a loop to calculate the first 10 Fibonacci numbers. Based on that loop, write a function which, given a number, returns a list of Fibonacci numbers of that length.

In [15]:
def fibonacci(n):
    fib = []
    for i in range(n):
        if i < 2:
            fib = fib[:] + [1]
        else:
            fib = fib[:] + [fib[-1] + fib[-2]]
    return fib

In [16]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

6. A **prime** is a positive integer greater than 1 that is not a product of two smaller positive integers. Starting with a list `primes = [2]`, use a loop for building the list of primes lower than 100. The number 100 of course can be replaced ny any other number, so yopu would be probably be able to write a function that takes an integer `n` and returns the numer of primes lower than `n`.

In [17]:
def primes(n):
    numbers = []
    for i in range(2, n+1):
        prime = True
        for j in range(2,i):
            if i%j == 0:
                prime = False
        if prime:
            numbers = numbers + [i]
    return numbers

In [18]:
primes(20)

[2, 3, 5, 7, 11, 13, 17, 19]

In [19]:
def primes(n):
    numbers = []
    for i in range(2, n+1):
        prime = True
        j = 2
        while prime and j < i:
            if i%j == 0:
                prime = False
            else:
                j = j + 1
        if prime:
            numbers = numbers + [i]
    return numbers

In [20]:
primes(20)

[2, 3, 5, 7, 11, 13, 17, 19]

In [21]:
def primes(n):
    return [i for i in range(2,n+1) if len([j for j in range(2,i) if i%j==0]) == 0]

In [22]:
primes(20)

[2, 3, 5, 7, 11, 13, 17, 19]

In [23]:
primes(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

7. Going back to exercise 4 of lecture PY-03, create a list containing the leap years of the 20th century.

In [24]:
def leap(y):
    return (y%4 == 0) and not (y%100 == 0 and y%400 != 0)

In [25]:
leap_years = []
for year in range(1901, 2001):
    if leap(year):
        leap_years = leap_years + [year]
leap_years

[1904,
 1908,
 1912,
 1916,
 1920,
 1924,
 1928,
 1932,
 1936,
 1940,
 1944,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000]

8. Write a function that drops the duplicate items from a list, keeping the order. For instance, given the list `['a'. 'f', 'a', 'b']`, that function would return `['a'. 'f', 'b']`.

In [26]:
def remove_duplicates(letters):
    new_list = []
    for l in letters:
        if l not in new_list:
            new_list = new_list + [l]
    return new_list

In [27]:
remove_duplicates(['a', 'f', 'a', 'b'])

['a', 'f', 'b']

9. A **nested list** is a list of lists, that is, a list whose items are lists. For instance, `[[1, 2], [], ['a']]`. Write a function that *flattens* a nested list, transforming it into a new list whose items are the items contained in the items of the original list. Given the above example, that function would return `[1, 2, 'a']`.

In [28]:
def unnest(l):
    new_list = []
    for a in l:
        for b in a:
            new_list = new_list + [b]
    return new_list

In [29]:
unnest([[1, 2], [], ['a']])

[1, 2, 'a']

In [30]:
from itertools import chain
def unnest(l):
    return list(chain.from_iterable(l))

In [31]:
unnest([[1, 2], [], ['a']])

[1, 2, 'a']

10. Write a function that combines strings from two lists of the same length, pasting every string from the second list after every string from the first list. For instance, given the lists `['A', 'B']` and `['X', 'Y']`, that function would return the list `['AX', 'AY', 'BX', 'BY']`.

In [32]:
def merge_lists(a, b):
    merged = []
    for x in a:
        for y in b:
            merged = merged + [x+y]
    return merged

In [33]:
merge_lists(['A', 'B'], ['X', 'Y'])

['AX', 'AY', 'BX', 'BY']

In [34]:
def merge_lists(a, b):
    return [x+y for x in a for y in b]

In [35]:
merge_lists(['A', 'B'], ['X', 'Y'])

['AX', 'AY', 'BX', 'BY']